.cabecalho
{
    background-color: rgb(169, 182, 178);
    margin: 5px;
    border: 2px solid black;
    height: 200px;
    text-align: center;


}
.corpo
{
    display: flex;
    flex-direction: ;
    background-color:rgb(169, 182, 178);
    margin: 5px;
    border: 2px solid black;
    text-align: left;


}
.meio
{
    text-align: center;
    background-color:rgb(169, 182, 178) ;
    margin: 15px;
    border: 1px solid black;
    float: right;
}
.roupas
{
    background-color: bisque;
    margin: 15px;
    border: 15px;
}